<!DOCTYPE html>
{% load static tailwind_tags %}
<html>
    <head>
        {% tailwind_css %}
    </head>
    <body>
        <form action="/confirm_product/", method="POST">
            {% csrf_token %}
            {{form.id}}
            <table>
                <tr>
                    <td>Amount:</td><td>{{form.amount}}</td>
                </tr>
            </table>
            <a href="/landing/"><button type="submit">Confirm</button></a>
            <a href="/landing/"><button type="button">Return</button></a>
        </form>
    </body>
</html>