<!DOCTYPE html>
{% load static tailwind_tags %}
<html>
    <head>
        {% tailwind_css %}
        <title>Mamma Mia Pizza</title>
        <script>
            function navigate(id) {
                nav_list = ['pizzas', 'drinks', 'desserts']
                for(const i of nav_list) {
                    if(id==i) document.getElementById(i).classList.remove('hidden')
                    else document.getElementById(i).classList.add('hidden')
                }
            }
        </script>
    </head>
    <body>
        <div class = 'w-screen bg-green-500 mb-5 pt-2 shadow-md'>
            <div class="bg-gray-100 w-1/2 mx-auto my-2 content-center rounded-lg border-2 border-green-800">
                <h1>Be prepared to dine on the finest Italian pizza, {{ first_name }}</h1>
            </div>
            <nav class="bg-green-600 flex">
                <button onclick="navigate('pizzas')"><div>Pizzas</div></button>
                <button onclick="navigate('drinks')"><div>Drinks</div></button>
                <button onclick="navigate('desserts')"><div>Desserts</div></button>
                <button class="ml-auto mr-8"><a href="/order_status/" class="mx-auto"><div class="mx-auto">My Orders</div></a></button>
            </nav>
        </div>
        <div class="flex flex-row">
            <div>
                <div id="pizzas">
                    {% for name, vegetarian, toppings, price, id in pizza_list %}
                        {% if vegetarian %}
                            <a href="/confirm_product/?product_id={{id}}"><button>{{ name }} - pizza - Vegetarian - {{ toppings }} - {{ price }}</button></a><br />
                        {% else %}
                            <a href="/confirm_product/?product_id={{id}}"><button>{{ name }} - pizza - {{ toppings }} - {{ price }}</button></a><br />
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="hidden" id="drinks">
                    {% for name, price, id in drink_list %}
                        <a href="/confirm_product/?product_id={{id}}"><button>{{ name }} - drink - {{ price }}</button></a><br />
                    {% endfor %}
                </div>
                <div class="hidden" id="desserts">
                    {% for name, price, id in dessert_list %}
                        <a href="/confirm_product/?product_id={{id}}"><button>{{ name }} - dessert - {{ price }}</button></a><br />
                    {% endfor %}
                </div>
            </div>
            <div class="bg-green-600 ml-auto p-3 -mt-5 mb-3 w-1/5 h-auto shadow-lg border-2 rounded-t-none border-t-0 border-r-0 border-l-0 border-black rounded-md">
                <div class="bg-white border-2 border-black rounded-md">
                    <ul>
                        {% for order_item in order_list %} 
                            <li class="bg-gray-100 my-2 p-1">
                            {% for key, value in order_item.items %}
                                {{value}}
                            {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="flex bg-white border-2 border-black rounded-md p-1">Total Price: {{ total_price }} Eur</div>
                <a href="/confirm_order/"><button>Order</button></a>
                <a href="/clear_order/"><button>Clear</button></a>
            </div>
       </div>
    </body>
</html>