<!DOCTYPE html>
<html>
    <head>
        <title> Login Page </title>
    </head>
    <body>
        <center><h1> Customer Login Page </h1></center>
        <form> 
            <div class='container'>
                <label> Username: </label>
                <input type='text' placeholder='Enter Username' name='username' required>
                <label> Password: </label>
                <input type='text' placeholder='Enter Password' name='password' required>
                <button type='submit'> Login </button>
                <button type='button' class='cancelbtn'> Cancel </button>
                <label> No account? </label>
                <a href="/sign-up/"> Sign Up </a>
            </div>
        </form>
    </body>
</html>