<!DOCTYPE html>
<html>
    <head>
        <title> Login Page </title>
    </head>
    <body>
        <center><h1> Customer Login Page </h1></center>
        <form action="/" method="POST"> 
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type='submit'> Login </button>
            <!--<div class='container'>
                <label> Username: </label>
                <input type='text' placeholder='Enter Username' name='username' required>
                <label> Password: </label>
                <input type='text' placeholder='Enter Password' name='password' required>
                <button type='button' class='cancelbtn'> Cancel </button>
                <label> No account? </label>
            </div>-->
        </form>
        <a href="/sign-up/"><button>Sign Up</button></a>
    </body>
</html>