<!DOCTYPE html>
<html>
    <head>
        <title> Sign Up Page </title>
    </head>
    <body>
        <center><h1> Sign Up Page </h1></center>
        <form> 
            <div class='container'>
                <label> Enter your username: </label>
                <input type='text' placeholder='Enter Username' name='username' required>
                <label> Enter your password: </label>
                <input type='text' placeholder='Enter Password' name'password' required>
                <label> Enter your password again: </label>
                <input type='text' placeholder='Enter Password Again' name'password2' required>
                <button type='submit'> Sign-up </button>
                <button href='/index.html' type='button' class='cancelbtn'> Cancel </button> Redirect to the login somehow
            </div>
        </form>
    </body>
</html>