<!DOCTYPE html>
<html>
    <head>
        <title> Sign Up Page </title>
    </head>
    <body>
        <center><h1> Sign Up Page </h1></center>
        <form action="/sign-up/" method="POST"> 
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <!--<div class='container'>
                <label> Enter your username: </label>
                <input type='text' placeholder='Enter Username' name='username' required>
                <label> Enter your password: </label>
                <input type='text' placeholder='Enter Password' name'password' required>
                <label> Enter your password again: </label>
                <input type='text' placeholder='Enter Password Again' name'password2' required>
            </div>-->
            <button type='submit'> Sign-up </button>
            <a href="/"><button type='button' class='cancelbtn'> Cancel </button></a>
        </form>
    </body>
</html>